
runs/Jun03_15-02-32_DESKTOP-SJEVNOO/events.out.tfevents.1654261353.DESKTOP-SJEVNOO.11860.0
outputs/vocab.txt
outputs/training_args.bin
outputs/tokenizer_config.json
outputs/tokenizer.json
outputs/special_tokens_map.json
outputs/pytorch_model.bin
outputs/model_args.json
outputs/eval_results.txt
outputs/config.json
outputs/checkpoint-5930-epoch-5/vocab.txt
outputs/checkpoint-5930-epoch-5/training_args.bin
outputs/checkpoint-5930-epoch-5/tokenizer_config.json
outputs/checkpoint-5930-epoch-5/tokenizer.json
outputs/checkpoint-5930-epoch-5/special_tokens_map.json
outputs/checkpoint-5930-epoch-5/scheduler.pt
outputs/checkpoint-5930-epoch-5/pytorch_model.bin
outputs/checkpoint-5930-epoch-5/optimizer.pt
outputs/checkpoint-5930-epoch-5/model_args.json
outputs/checkpoint-5930-epoch-5/config.json
outputs/checkpoint-4744-epoch-4/vocab.txt
outputs/checkpoint-4744-epoch-4/training_args.bin
outputs/checkpoint-4744-epoch-4/tokenizer_config.json
outputs/checkpoint-4744-epoch-4/tokenizer.json
outputs/checkpoint-4744-epoch-4/special_tokens_map.json
outputs/checkpoint-4744-epoch-4/scheduler.pt
outputs/checkpoint-4744-epoch-4/pytorch_model.bin
outputs/checkpoint-4744-epoch-4/optimizer.pt
outputs/checkpoint-4744-epoch-4/model_args.json
outputs/checkpoint-4744-epoch-4/config.json
outputs/checkpoint-4000/vocab.txt
outputs/checkpoint-4000/training_args.bin
outputs/checkpoint-4000/tokenizer_config.json
outputs/checkpoint-4000/tokenizer.json
outputs/checkpoint-4000/special_tokens_map.json
outputs/checkpoint-4000/scheduler.pt
outputs/checkpoint-4000/pytorch_model.bin
outputs/checkpoint-4000/optimizer.pt
outputs/checkpoint-4000/model_args.json
outputs/checkpoint-4000/config.json
outputs/checkpoint-3558-epoch-3/vocab.txt
outputs/checkpoint-3558-epoch-3/training_args.bin
outputs/checkpoint-3558-epoch-3/tokenizer_config.json
outputs/checkpoint-3558-epoch-3/tokenizer.json
outputs/checkpoint-3558-epoch-3/special_tokens_map.json
outputs/checkpoint-3558-epoch-3/scheduler.pt
outputs/checkpoint-3558-epoch-3/pytorch_model.bin
outputs/checkpoint-3558-epoch-3/optimizer.pt
outputs/checkpoint-3558-epoch-3/model_args.json
outputs/checkpoint-3558-epoch-3/config.json
outputs/checkpoint-2372-epoch-2/vocab.txt
outputs/checkpoint-2372-epoch-2/training_args.bin
outputs/checkpoint-2372-epoch-2/tokenizer_config.json
outputs/checkpoint-2372-epoch-2/tokenizer.json
outputs/checkpoint-2372-epoch-2/special_tokens_map.json
outputs/checkpoint-2372-epoch-2/scheduler.pt
outputs/checkpoint-2372-epoch-2/pytorch_model.bin
outputs/checkpoint-2372-epoch-2/optimizer.pt
outputs/checkpoint-2372-epoch-2/model_args.json
outputs/checkpoint-2372-epoch-2/config.json
outputs/checkpoint-2000/vocab.txt
outputs/checkpoint-2000/training_args.bin
outputs/checkpoint-2000/tokenizer_config.json
outputs/checkpoint-2000/tokenizer.json
outputs/checkpoint-2000/special_tokens_map.json
outputs/checkpoint-2000/scheduler.pt
outputs/checkpoint-2000/pytorch_model.bin
outputs/checkpoint-2000/optimizer.pt
outputs/checkpoint-2000/model_args.json
outputs/checkpoint-2000/config.json
outputs/checkpoint-1186-epoch-1/vocab.txt
outputs/checkpoint-1186-epoch-1/training_args.bin
outputs/checkpoint-1186-epoch-1/tokenizer_config.json
outputs/checkpoint-1186-epoch-1/tokenizer.json
outputs/checkpoint-1186-epoch-1/special_tokens_map.json
outputs/checkpoint-1186-epoch-1/scheduler.pt
outputs/checkpoint-1186-epoch-1/pytorch_model.bin
outputs/checkpoint-1186-epoch-1/optimizer.pt
outputs/checkpoint-1186-epoch-1/model_args.json
outputs/checkpoint-1186-epoch-1/config.json
cache_dir/cached_train_bert_128_10_2
cache_dir/cached_dev_bert_128_10_2
models/BERT.sav
models/BERT.zip
